/* CUSTOM SELECT 2 */

/*.select2-selection__rendered{padding-right:30px;}*/

/*.select2-container {box-sizing: border-box;display: inline-block;margin: 0;position: relative;vertical-align: middle;background-color: white;/*border: 1px solid #ddd;*/}*/
/*.select2-container .select2-selection--multiple .select2-selection__rendered {display: inline-block;overflow: hidden;padding-left: 0;padding-bottom:4px;text-overflow: ellipsis;white-space: nowrap;float:left;min-height:24px;}
.select2-container .select2-search--inline {float: left;border: none;width:auto !important;}*/

/*.settings-page .select2-container .select2-search--inline  .select2-search__field{width:auto !important;}*/

.select2-dropdown {background-color: white;border: 1px solid #ddd;border-radius: 2px;box-sizing: border-box;display: block;position: absolute;left: -100000px;width: 100%;z-index: 1051}
.select2-results__option {padding: 3px 6px;font-size:12px;color:#555;user-select: none;-webkit-user-select: none;}
/*.select2-container--default .select2-selection--multiple {background-color: white;border: 1px solid #aaa;border-radius: 4px;}*/

/*.select2-container--default .select2-selection--multiple .select2-selection__choice {background-color: #eee;border: 1px solid #ddd;border-radius: 2px;cursor: default;color:#666;font-size:12px;float: left;margin-right: 5px;margin-top: 5px;padding: 0 5px;}*/
/*.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {color: #999;cursor: pointer;display: inline-block;font-weight: bold;margin-left: 4px;float:right;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {color: #333;}*/

/*.select2-container--default .select2-search--inline .select2-search__field {background: transparent;border: none;outline: 0;box-shadow: none;-webkit-appearance: textfield;/*width:100% !important;*/}*/
/*.select2-container .select2-selection--multiple{min-height:28px;}*/

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple{border:none;}
.select2-container--default .select2-results__option[aria-selected="true"]{background-color:#f3f3f3;}

/*.select2-container{width:100% !important;}*/

/*.popup-area .select2-container .select2-search--inline,
.popup-area .select2-container--default .select2-search--inline .select2-search__field{width:100% !important;}*/

/*.addpost-tag .select2-selection--multiple{width: 100% !important;}*/
.addpost-tag .select2{width: 100% !important;}
.addpost-tag .selection{width: 100% !important;}
/*.addpost-tag .select2-container--default.select2-container--focus .select2-selection--multiple {border: none !important;}*/
/*.addpost-tag .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {margin-right: 10px !important;}*/
/*.addpost-tag .select2-selection__rendered{background:none;padding-right:10px;}*/
/*.addpost-tag .select2-container--default .select2-selection--multiple{border:none;}*/
/*.addpost-tag .select2-container .select2-search--inline {width:auto;}*/
/*.mfp-content .select2-container .select2-search--inline {width:auto !important;}*/
/*.addpost-tag .select2-container .select2-selection--multiple .select2-selection__rendered{padding:0 4px;}*/

/*.fbdetail-holder .select2-container .select2-search--inline{width:auto;}*/

.hotels-page .select2-container--default .select2-selection--single .select2-selection__arrow {right: 5px;top: 5px;}
/*.hotels-page .banner-section .select2-container .select2-selection--single{height:34px;}
.hotels-page .banner-section .select2-container .select2-selection--single .select2-selection__rendered{padding-left:40px;color:#999;font-size:13px;line-height:34px;}*/

/*.ptag .select2-container{border:none;}
.ptag .select2-container .select2-selection--multiple .select2-selection__rendered{padding-bottom:0;}*/

/*.people-list .select2-container,
.share-connections .select2-container{width:100% !important;}*/

.hotels-page .select2-container--default .select2-selection--single{min-width:100px;}
/*.hotels-page .select2-container--default .select2-selection--single .select2-selection__rendered{font-size:13px;}*/

/*.settings-page .security-content .select2-container--default .select2-selection--single .select2-selection__rendered{padding-left:0;}*/
/*.about-content .select2-container .select2-selection--multiple .select2-selection__rendered,
.settings-page .select2-container .select2-selection--multiple .select2-selection__rendered{padding:0;}*/
.settings-page .select2-container .select2-search--inline .select2-search__field,

/*.settings-page .select2-container--default .select2-selection--multiple .select2-selection__choice{margin-top:0;margin-bottom:5px;}*/
/*.settings-page .select2-container .select2-selection--multiple {min-height: 0;}*/

.select2-container--default .select2-selection--single{border:none;border-radius:0;}
.select2-container--default .select2-results__option--highlighted[aria-selected='true']{color:#666;}
.select2-container--default .select2-results__option--highlighted{color:#fff;}

/*.select2-container--default .select2-selection--multiple .select2-selection__choice{width:auto !important;margin:0 5px 5px 0 !important;}*/

/*body > .select2-container.select2-container--open{border:none;}*/
.select2-container--open .select2-dropdown--below{border-top:none;}
.select2-container--open .select2-dropdown--above{border-bottom:none;}

.select2.select2-container--default{width: 100% !important;}
/*.select2-container {width: auto !important;}*/

.home-page .select2-selection__placeholder{color: #dfdfdf !important;opacity: 1;}
/*.home-page .select2-container {width: auto !important;}*/
.home-page .anim-area .select2-container--default{width:100% !important;}
.home-page .anim-area .select2-container,
.home-page .anim-area .select2-container--default .select2-selection--single{background:none;border:none;}
/*.home-page .anim-area .select2-container{border-bottom:1px solid #fff;}*/
/*.home-page .anim-area .select2-container--default .select2-selection--single .select2-selection__rendered{padding-left:0;color:#fff;font-size:14px;}*/
.home-page .anim-area .select2-container--default .select2-selection--single .select2-selection__arrow b{border-color:#fff transparent transparent;}
/*.home-page .anim-area .select2-container .select2-selection--single{height:28px;font-size:13px;}*/

.login-popup.home-page .select2-selection__placeholder{color: #cacaca !important;opacity: 1;}
.login-popup.home-page .select2-container--default .select2-selection--single .select2-selection__clear {display: none;}
/*.login-popup.home-page .anim-area .select2-container {border-bottom: 1px solid #ddd;}*/
/*.login-popup.home-page .anim-area .select2-container--default .select2-selection--single .select2-selection__rendered{padding-left:0;color:#666;}*/
.login-popup.home-page .anim-area .select2-container--default .select2-selection--single .select2-selection__arrow b {border-color: #ddd transparent transparent;}

/*.travelbuddy-page .search-area .srow .select2-selection__rendered,
.hangout-page .search-area .srow .select2-selection__rendered{padding-left:0;font-size:13px;color:#999;}*/
/*.localguide-page .search-area .srow .select2-selection__rendered{padding-left:0;font-size:13px;color:#999;}*/
/*.weekendescape-page .search-area .srow .select2-selection__rendered{padding-left:0;font-size:13px;color:#999;}*/

/* wall tab styles */
.mbl-menu .select2 {background:none;border:none;top:3px;max-width:auto;}
.mbl-menu .selection{height: 23px;}
.select2-selection.walltabs{width:110px !important;font-size:13px;height: 23px;}
/*.select2-selection.walltabs .select2-selection__rendered{color:#fff;line-height:22px;}*/
.select2-selection.walltabs .select2-container--default .select2-selection--single .select2-selection__arrow{height:22px;}
.select2-container--default .select2-selection--single.walltabs .select2-selection__arrow b{border-color:#fff transparent transparent;}
.select2-container--default .select2-selection--single.walltabs .select2-selection__arrow{height:22px;}

/*.general-page .commevents-list .filters .select2-container--default .select2-selection--single .select2-selection__rendered{font-size:13px;min-width:130px;}*/

/*.businesspage .select2-container--default .select2-selection--single .select2-selection__rendered{font-size:13px;}*/

/*.payment-popup .select2-container{border-radius: 3px;border: none;}*/
.payment-popup .select2-container--default .select2-selection--single{background:none;}

/* end wall tab styles */

/* pages styles */
/*.pages-page .select2-container .select2-selection--multiple .select2-selection__rendered{padding-left:0;padding-right:0;}*/
/* end pages styles */

/*.credit-page .member-search .select2-container{display: inline-block;float: left;width: 300px !important;text-align:left;}*/

.btndrop .select2-container--default{min-width:70px;}
/*.btndrop .select2-container{width:auto !important;border:none;}*/
.btndrop .select2-container--default .select2-selection--single{border:none;height:22px;}
/*.btndrop .select2-container--default .select2-selection--single .select2-selection__rendered{padding:0 10px !important;height:22px;line-height:22px;background:#ddd !important;color:#777 !important;margin-right:10px;font-size:11px;width: auto;display: inline-block;}*/
.btndrop .select2-container--default .select2-selection--single .select2-selection__arrow{right:-16px;height:22px;}

/*.addstep-details .select2-container .select2-selection--multiple .select2-selection__rendered{padding-left:0;paddiing-right:0;}*/

/*.popup-area.giftlist-popup .tabpan .select2-container {width: auto !important;font-size:13px;border:none;}*/
/*.popup-area.giftlist-popup .tabpan .select2-container .select2-selection--single .select2-selection__rendered{padding-right:30px;}*/
/*.popup-area.giftlist-popup .select2-container{border:none;}
.popup-area.giftlist-popup .select2-container .select2-selection--multiple .select2-selection__rendered{padding-left:0;padding-right:0;bordeR:none;}*/

/*.advertmanager-page .select2-container--default .select2-selection--single .select2-selection__rendered{padding-left:0;}*/
/*.noborder .select2-container{border:none;min-width:100px;}*/

/*.post-tag .select2-container--default .select2-selection--multiple .select2-selection__choice{margin:5px 5px 5px 0 !important;}*/

/*.places-page .map-filter .select2-container .select2-selection--single{height:24px;}*/
/*.places-page .map-filter .select2-container--default .select2-selection--single .select2-selection__rendered{font-size:13px;line-height:24px;}*/
.places-page .map-filter .select2-container--default .select2-selection--single .select2-selection__arrow {height: 24px;top: 0px;}
/*.places-page .map-filter .select2-container .select2-selection--multiple {min-height: 24px;}*/
/*.places-page .map-filter .select2-container--default .select2-selection--multiple .select2-selection__choice {margin: 2px 5px 2px 0 !important;}*/
/*.places-page .map-filter .select2-container .select2-selection--multiple .select2-selection__rendered {padding-bottom: 0;min-height: 24px;max-height: 24px;overflow: auto;max-width: 300px;}*/
.places-page .places-mapview.hasfitler .map-filter .fitem .compo.amenities .select2.select2-container--default{width: 150px !important;}

/*.share-connections .select2-container--default .select2-selection--multiple .select2-selection__choice { margin: 5px 5px 0 0 !important;}*/

/*.completeprof-wrapper .select2-container .select2-selection--single .select2-selection__rendered{padding-left:0;}*/

/*.banner-section .search-whole .sliding-middle-out.location > .select2-container{height: 34px;padding-left: 24px;}*/
/*.banner-section .search-whole .sliding-middle-out.location > .select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 34px;font-size: 13px;}*/
.banner-section .search-whole .sliding-middle-out.location > .select2-container--default .select2-selection--single .select2-selection__arrow {top: 4px;}

/*.split-page .profile-tab .select2-container--default .select2-selection--multiple .select2-selection__choice{width:auto !important;margin:5px 5px 0 0 !important;}*/
/*.split-page .select2-container--default .select2-selection--single .select2-selection__rendered{padding-left:0;padding-right:0;}*/
/*.split-page.localguide-page .select2-container--default .select2-selection--single .select2-selection__rendered {color: #888;}*/
.split-page.travelbuddy-page .select2-container--default .select2-selection--single {padding-right: 30px;}
/*.split-page .search-area .select2-container--default .select2-selection--multiple .select2-selection__choice {margin: 5px 5px 0 0 !important;}*/
/*.split-page .search-area .select2-selection__rendered > li{margin:0;}*/

/* END CUSTOM SELECT 2 */

/* custom calendar */

.datepick{border:3px solid #fff;overflow:hidden;}
.datepick-nav, .datepick-ctrl{background-color:#fff;}
.datepick-cmd:hover {background-color: #f5f5f5;}
.datepick-ctrl .datepick-cmd:hover {background-color: #f5f5f5;}
.datepick-cmd{width:auto;}
.datepick-cmd-today{display:inline-block;float:none;width:auto;}
.datepick-nav{text-align:center;}
.date-container .datepick .datepick-ctrl a, .date-container .datepick .datepick-nav a { color: #666 !important;}
.datepick-month{border:none;}
.datepick-month-header{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,f2f2f2+30,dbdbdb+100 */
	background: rgb(242,242,242); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(242,242,242,1) 30%, rgba(219,219,219,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(242,242,242,1) 30%,rgba(219,219,219,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(242,242,242,1) 30%,rgba(219,219,219,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}
.datepick-month-header select, 
.datepick-month-header input {background-color: #fff;color: #666;font-size: 12px;padding: 2px 5px;border-radius:2px;}
.datepick-month table { margin:5px 0;}

/* end custom calendar */

.pp_hoverContainer{z-index:20;}
#pp_full_res{position:relative;z-index:21;}

/* carousel custom */
.carousel_master{margin:0;padding:5px 0;border:none;border-radius:0;}
.carousel_master .slides > li{background:#000;}
.carousel_master .slides > li:hover,
