.emoticon {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: -10000px;
    cursor: text;
    background: url('../images/emoticons.png') no-repeat;
    text-align: left;
}
.emoticon-smile { background-position: 0 0; }
.emoticon-sad-smile { background-position: 0 -29px; }
.emoticon-big-smile { background-position: 0 -58px; }
.emoticon-cool { background-position: 0 -87px; }
.emoticon-surprised { background-position: 0 -116px; }
.emoticon-wink { background-position: 0 -145px; }
.emoticon-crying { background-position: 0 -174px; }
.emoticon-sweating { background-position: 0 -203px; }
.emoticon-speechless { background-position: 0 -232px; }
.emoticon-kiss { background-position: 0 -261px; }
.emoticon-tongue-out { background-position: 0 -290px; }
.emoticon-blush { background-position: 0 -319px; }
.emoticon-wondering { background-position: 0 -348px; }
.emoticon-sleepy { background-position: 0 -377px; }
.emoticon-dull { background-position: 0 -406px; }
.emoticon-in-love { background-position: 0 -435px; }
.emoticon-evil-grin { background-position: 0 -464px; }
.emoticon-talking { background-position: 0 -493px; }
.emoticon-yawn { background-position: 0 -522px; }
.emoticon-puke { background-position: 0 -551px; }
.emoticon-doh { background-position: 0 -580px; }
.emoticon-angry { background-position: 0 -609px; }
.emoticon-speechless-1 { background-position: 0 -638px; }
.emoticon-it-wasnt-me { background-position: 0 -667px; }
.emoticon-kiss-1 { background-position: 0 -696px; }
.emoticon-party { background-position: 0 -725px; }
.emoticon-tongue-out-1 { background-position: 0 -754px; }
.emoticon-wondering-1 { background-position: 0 -783px; }
.emoticon-worried { background-position: 0 -812px; }
.emoticon-mmm { background-position: 0 -841px; }
.emoticon-sleepy-1 { background-position: 0 -870px; }
.emoticon-dull-1 { background-position: 0 -899px; }
.emoticon-nerd { background-position: 0 -928px; }
.emoticon-evil-grin-1 { background-position: 0 -957px; }
.emoticon-lips-sealed { background-position: 0 -986px; }
.emoticon-hi { background-position: 0 -1015px; }
.emoticon-call { background-position: 0 -1044px; }
.emoticon-devil { background-position: 0 -1073px; }
.emoticon-angel { background-position: 0 -1102px; }
.emoticon-angry-1 { background-position: 0 -1131px; }
.emoticon-envy { background-position: 0 -1160px; }
.emoticon-worried-1 { background-position: 0 -1189px; }
.emoticon-nerd-1 { background-position: 0 -1218px; }
.emoticon-wait { background-position: 0 -1247px; }
.emoticon-bear { background-position: 0 -1276px; }
.emoticon-lips-sealed-1 { background-position: 0 -1305px; }
.emoticon-make-up { background-position: 0 -1334px; }
.emoticon-giggle { background-position: 0 -1363px; }
.emoticon-clapping { background-position: 0 -1392px; }
.emoticon-thinking { background-position: 0 -1421px; }
.emoticon-bow { background-position: 0 -1450px; }
.emoticon-rofl { background-position: 0 -1479px; }
.emoticon-whew { background-position: 0 -1508px; }
.emoticon-happy { background-position: 0 -1537px; }
.emoticon-smirk { background-position: 0 -1566px; }
.emoticon-nod { background-position: 0 -1595px; }
.emoticon-shake { background-position: 0 -1624px; }
.emoticon-punch { background-position: 0 -1653px; }
.emoticon-emo { background-position: 0 -1682px; }
.emoticon-yes { background-position: 0 -1711px; }
.emoticon-no { background-position: 0 -1740px; }
.emoticon-handshake { background-position: 0 -1769px; }
.emoticon-skype { background-position: 0 -1798px; }
.emoticon-heart { background-position: 0 -1827px; }
.emoticon-broken-heart { background-position: 0 -1856px; }
.emoticon-mail { background-position: 0 -1885px; }
.emoticon-flower { background-position: 0 -1914px; }
.emoticon-rain { background-position: 0 -1943px; }
.emoticon-sun { background-position: 0 -1972px; }
.emoticon-time { background-position: -29px 0; }
.emoticon-music { background-position: -29px -29px; }
.emoticon-movie { background-position: -29px -58px; }
.emoticon-phone { background-position: -29px -87px; }
.emoticon-coffee { background-position: -29px -116px; }
.emoticon-pizza { background-position: -29px -145px; }
.emoticon-cash { background-position: -29px -174px; }
.emoticon-muscle { background-position: -29px -203px; }
.emoticon-cake { background-position: -29px -232px; }
.emoticon-beer { background-position: -29px -261px; }
.emoticon-drink { background-position: -29px -290px; }
.emoticon-dance { background-position: -29px -319px; }
.emoticon-ninja { background-position: -29px -348px; }
.emoticon-star { background-position: -29px -377px; }
.emoticon-mooning { background-position: -29px -406px; }
.emoticon-middlefinger { background-position: -29px -435px; }
.emoticon-bandit { background-position: -29px -464px; }
.emoticon-drunk { background-position: -29px -493px; }
.emoticon-smoke { background-position: -29px -522px; }
.emoticon-toivo { background-position: -29px -551px; }
.emoticon-rock { background-position: -29px -580px; }
.emoticon-headbang { background-position: -29px -609px; }
.emoticon-bug { background-position: -29px -638px; }
.emoticon-fubar { background-position: -29px -666px; }
.emoticon-poolparty { background-position: -29px -695px; }
.emoticon-swear { background-position: -29px -724px; }
.emoticon-tmi { background-position: -29px -753px; }
.emoticon-heidy { background-position: -29px -782px; }
.emoticon-myspace { background-position: -29px -811px; }
.emoticon-malthe { background-position: -29px -840px; }
.emoticon-tauri { background-position: -29px -869px; }
.emoticon-priidu { background-position: -29px -898px; }
