
/*css variables declaration*/
:root { --color-theme: #8C1438; }

.tm-dark-blue{display:block;width:18px;height:18px;border-radius:2px;margin:5px;float:left;outline:none;}
.tm-dark-blue{background-color: var(--color-theme);}
.tm-dark-blue:hover{border-color:rgba(255, 255, 255, 0.8); text-decoration:none;}

.theme-color .mobile-menu a, .theme-color a, .theme-color #settings-menu li a.mainlink:hover{color:var(--color-theme);}
.theme-color .profile-top .profile-info:hover span,
.theme-color .profile-top a.dropdown-toggle:hover,
.theme-color .top-plus a.dropdown-toggle:hover{color:#fff;}

.theme-color .not-icons .badge{background:#185a7b;}
.theme-color .transheader-wrapper .header-section .topbar{background:none;}
.theme-color .transheader-wrapper .header-section.colored .topbar,
.theme-color .header-section .topbar, 
.theme-color .btn-primary, .theme-color .btn-white, 
.theme-color .sliding-middle-out:after, 
.theme-color .sliding-middle-out.underlined:after, .home-page .sliding-middle-out:after, .home-page .sliding-middle-out.underlined:after {background: var(--color-theme);}

.theme-color .content-box .cbox-title i,
.theme-color .people-box .desc-holder a.userlink,
.theme-color .custom-alert .modal-footer .btn,
.theme-color .custom-sdialog .modal-footer .btn,
.theme-color .security-block .icon-holder,
.theme-color .profile-tip .cover-headline{color:var(--color-theme);}

.theme-color .home-page .tb-inner-link01 a,
.theme-color .home-page a, .home-page .tb-ls-user-text a span {color: var(--color-theme);}
.theme-color .login-popup.home-page .close_span{color: unset;}

.theme-color .nav-tabs li a:hover i,
.theme-color .nav-tabs li a:focus i,
.theme-color .nav-tabs li a:active i,
.theme-color .like-list .descholder .userlink,
.theme-color .wall-header .sub-tabs ul > li a span{color:var(--color-theme);}
.theme-color .add-album-form .custom-file .title, .theme-color .select2-selection.walltabs{background:var(--color-theme);}

.theme-color #settings-menu li a.mainlink{border-left:4px solid var(--color-theme);}	

.theme-color [type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::after {background-color:var(--color-theme);}
.theme-color [type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::before, [type="radio"].with-gap:checked + label::after {border: 2px solid var(--color-theme);}
.theme-color .refers-content .feedback-positive,
.theme-color .feedback-drop .dropdown-toggle i.fa-plus-square,
.theme-color .feedback-drop .dropdown-menu li:first-child i,
.theme-color .post-mcontent i.main-icon{color:var(--color-theme);}
.theme-color .pinlink.active,
.theme-color .pinlink:hover{background:var(--color-theme);}
.theme-color .ui-datepicker-calendar .ui-state-default.ui-state-highlight,
.home-page .ui-datepicker-calendar .ui-state-default.ui-state-highlight{color:var(--color-theme);}

.theme-color .ui-state-highlight, 
.theme-color .ui-widget-content .ui-state-highlight,
.theme-color .ui-widget-header .ui-state-highlight,
.home-page .ui-state-highlight,
.home-page .ui-widget-content .ui-state-highlight,
.home-page .ui-widget-header .ui-state-highlight {background: #bad9f5;}

.theme-color .messages-page .message-userlist > ul > li a.active,
.theme-color .messages-page .message-userlist > ul > li a.active:hover,
.theme-color .h-checkbox [type="checkbox"]:checked + label:before {background:var(--color-theme);}
.theme-color .h-checkbox.colored [type="checkbox"]:checked + label:before {background:var(--color-theme);border:1px solid var(--color-theme);}
.theme-color .messages-page .giftbox .vertical-tabs .nav-tabs li a:hover,
.theme-color .messages-page .giftbox .vertical-tabs .nav-tabs li.active a{color:var(--color-theme);}
.theme-color .vip-page .vip-info .iconholder i{color:rgba(51, 153, 204, 0.8);}
.theme-color .chat-window ul > li.mainli .chatwin-box .chat-add .chat-action .send-chat{background:var(--color-theme);}
.theme-color .chat-window ul > li.mainli .chatwin-box .chat-conversation .chat-area ul > li .msgholder {background: #dff4ff;}

.chat-window ul > li.mainli .chatwin-box .chat-conversation .chat-area .chatli ul.submsg > li:first-child .msgholder p:first-child::before{background: url(../images/chat-arrow-right-darkblue.png) no-repeat center center;}

.theme-color .chat-window ul > li.mainli .chatwin-box .chat-conversation .chat-area .chatli ul.submsg > li:first-child .msgholder p:first-child::before{background: url(../images/chat-arrow-right-darkblue.png) no-repeat center center;}
.theme-color .chat-section .chat-summery .desc-holder .badge{background:var(--color-theme);}

.theme-color .credit-page .cbox-desc{background: rgb(255,255,255); /* Old browsers */background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 58%, rgba(51,153,204,0.3) 100%); /* FF3.6-15 */background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 58%,rgba(51,153,204,0.3) 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 58%,rgba(51,153,204,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c1e0f0',GradientType=0 ); /* IE6-9 */}
.theme-color .credit-page .cbox-desc .credit-details ul.cdetails-ul > li i{color:var(--color-theme);}
.theme-color .credit-page .cbox-desc .ribbon-section{background: rgb(51,153,204); /* Old browsers */background: -moz-linear-gradient(top,  rgba(51,153,204,0.5) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */background: -webkit-linear-gradient(top,  rgba(51,153,204,0.5) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to bottom,  rgba(51,153,204,0.5) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cce6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
.theme-color .credit-page .credit-updates .section-title h5{color:var(--color-theme);}
.theme-color .credit-page .credit-updates .section-title h5 span{background:var(--color-theme);}
.theme-color .credit-page .credit-exchanged span,
.theme-color .credit-page .credit-add h3,
.theme-color .credit-page .credit-add ul > li .dollar,
.theme-color .businesspage .likes-content ul.bb-gray .state-arrow,
.theme-color .vip-page .vip-package .month-special,
.theme-color .view-profile ul > li{color:var(--color-theme);}
.theme-color .lateststory-list ul > li .lateststory .descholder h6 i,
.theme-color .lateststory-list .morelink a i{border: 2px solid var(--color-theme);}
.theme-color .cborder-btn{border: 1px solid var(--color-theme);}

.theme-color .placesreviews-content .new-post .rating-stars > i.active,
.theme-color .reviews-column .new-post .rating-stars > i.active,
.theme-color .post-holder.reviewpost-holder .rating-stars i.active{color:var(--color-theme);}
 
.theme-color .control--radio .control__indicator::after{background: var(--color-theme);}
.theme-color .businesspage .insights-content .tab-box .graph-box .graph-detail ul > li .count{color:var(--color-theme);}
.theme-color .businesspage .insights-content .insights-holder h4 i{color:var(--color-theme);}
.theme-color .general-page.generaldetails-page .groups-details .groups-summery .content-holder .action-btns a{background:var(--color-theme);}
.theme-color .general-page.generaldetails-page .commevents-details .commevents-summery .content-holder .action-btns a{background:var(--color-theme);}
.theme-color .add-item-popup .main-img,
.theme-color .general-page .grid-view .collections-list .collection-box .photo-holder,
.theme-color .general-page .grid-view .commevents-list .commevents-box .photo-holder,
.theme-color .general-page .grid-view .groups-list .groups-box .photo-holder,
.theme-color .general-page.generaldetails-page .commevents-list .commevents-box .photo-holder,
.theme-color #collectionCrop,
.theme-color #groupCrop,
.theme-color #commeventCrop{background:var(--color-theme);}
.theme-color .general-page.generaldetails-page .commevents-details .commevents-summery .content-holder .icon-list > li.active a,
.theme-color .general-page.generaldetails-page .groups-details .groups-summery .content-holder .icon-list > li.active a{color:var(--color-theme);}
.theme-color .shared-category .post-img-holder .post-img .pimg-holder{background-color:var(--color-theme);}
.theme-color .businesspage .settings-content .vertical-tabs .tabs-list .nav-tabs li a i,
.theme-color .businesspage .settings-content .vertical-tabs .tabs-list .nav-tabs li a i{color:var(--color-theme);}
.theme-color .businesspage .response-msg{border-left:2px solid var(--color-theme);}
.theme-color .general-page.generaldetails-page .travelstore-details .travelstore-summery .cat-list > li.active a{color:var(--color-theme);}
.theme-color .side-travad .travad-maintitle > span.iholder {background: var(--color-theme) none repeat scroll 0 0;}
.theme-color .advert-page .travadvert-content .servicebox h5,
.theme-color .advert-page .travadvert-content .travadvert-details h6,
.theme-color .advert-page .travadvert-content .travadvert-details .details .detail-box .descholder h5{color:var(--color-theme);}
.theme-color .advert-page .travadvert-content .travadvert-details .details .detail-box .descholder ul > li span{background:var(--color-theme);}
.theme-color .travad-box .travad-maintitle > span{background: var(--color-theme); none repeat scroll 0 0;}

.theme-color .advertmanager-page .box-container .top-box ul > li.done a{color:var(--color-theme);}
.theme-color .advertmanager-page .preview-accordion h4,
.theme-color .advertmanager-page .travad-accordion .ui-widget-content a,
.theme-color .advertmanager-page .travad-accordion .ui-state-default a,
.theme-color .advertmanager-page .travad-accordion .ui-state-default a:link{color:var(--color-theme);}
.theme-color .advertmanager-page .travad-accordion .ui-widget-content a.btn{color:#fff;}
.theme-color .advertmanager-page .travad-accordion .ui-widget-content a.adbtn{color:#777;}
.theme-color .advertmanager-page .preview-accordion h4{color:var(--color-theme);}
.theme-color .advertmanager-page .detail-box .estimate-box p span{color:var(--color-theme);}
.theme-color .adpage .advert-page .banner-section .btn-holder.pad-b{color: #fff;}
.theme-color .general-page.generaldetails-page .tripexperience-details .trip-listing .trip-accordion h3 i,
.theme-color .travelbuddy-page .offer-ul .paginationjs .paginationjs-pages ul > li a,
.theme-color .popup-area.giftlist-popup .pc-title h3 span,
.theme-color .advertmanager-page .travad-accordion h3 a span.open-link{color:var(--color-theme);}
.theme-color .advertmanager-page .vip-priceinfo{border:2px solid #cbe2ec;color:var(--color-theme);}

.theme-color .content-box .cbox-title span.count,
.theme-color .hangout-post .hangout-event .details .event-name,
.theme-color .weekendescape-post .weekendescape-event .details .event-name{background:var(--color-theme);}
.theme-color .popup-area.review-popup .popup-title{border-bottom:2px solid #cbe2ec;}
.theme-color .contribution-content .contibute-box .contribution-details .collection-list .coll-preview .coll-img{background:var(--color-theme);}
.theme-color .contribution-content .contibute-box .contribution-details .group-list .group-preview .group-img{background:var(--color-theme);}
.theme-color .ranker-box .desc-holder a.userlink{color:var(--color-theme);}
.theme-color .side-travad .imgholder,
.theme-color .activity-holder .activity-box .gen-preview .imgholder{background:var(--color-theme);}
.theme-color .content-box .cbox-title a.right-link,
.theme-color .side-section .section-layer .tripitem .itemicon,
.theme-color .side-section .section-layer .secopt .iconlink.editlink i,
.theme-color .places-page .places-banner .banner-section .tablist .nav-tabs > li.active a,
.theme-color .advert-page .manageadvert-content .manageadvert-details .sub-content .details .travad-states h4 i,
.theme-color .payment-popup .payment .vip-page .vip-package .month-save,
.theme-color .payment .paypal-info .conditions p span{color:var(--color-theme);}
.theme-color .places-page .f-placebox .imgholder{background:var(--color-theme);}
.theme-color .places-page .hotels-page .hotel-list .hotel-li.dealli .summery-info .descholder .person-info a{width: 125px; padding: 0; line-height: 22px; text-transform: unset; color: var(--color-theme); font-size: 12px; background: none; text-align: left;}

.theme-color .split-page .hangout-yours.profile-tab .expand-link i,
.theme-color .split-page .travelbuddy-profile.profile-tab .expand-link i,
.theme-color .split-page .weekendescape-yours.profile-tab .expand-link i,
.theme-color .split-page .localdriver-yours.profile-tab .expand-link i,
.theme-color .split-page .localguide-yours.profile-tab .expand-link i{color:var(--color-theme);}
.theme-color .places-page .hotels-page .hotel-list .hotel-li .summery-info .imgholder{background:var(--color-theme);}
.theme-color .payment-popup .popup-title{background:var(--color-theme);}
.theme-color .travad-box .post-img-holder .post-img .pimg-holder img{background:var(--color-theme);}
.theme-color .general-page .grid-view .collections-list .collection-box{border:none;}
.theme-color .general-page.generaldetails-page .general-details .gdetails-summery .content-holder .action-btns a{background:var(--color-theme);}
.theme-color .general-page.generaldetails-page .general-details .gdetails-summery .main-info .imgholder{background:var(--color-theme);}
.theme-color .allalerts,
.theme-color .new-post-mobile a{background:var(--color-theme);}
.theme-color .general-page.generaldetails-page .grid-view .generalbox-list .general-box .photo-holder,
.theme-color .general-page.generaldetails-page .general-details .gdetails-summery .main-info .content-holder .action-btns a,
.theme-color .messages-page .content-box .left-section a.addnewchat.mobile-btn,
.theme-color .places-page .places-column .subtab .mbl-tabnav{background:var(--color-theme);}
.theme-color .general-page.generaldetails-page .general-details .gdetails-summery .main-info .content-holder .icon-list > li.active a,
.theme-color .general-page.generaldetails-page .general-details .gdetails-summery .main-info .content-holder .icon-list > li a.active{color:var(--color-theme);}
.theme-color .chat-window ul > li.mainli .chatwin-box .topbar{background-color:var(--color-theme);}
.theme-color .general-page .grid-view .generalbox-list .general-box .photo-holder{background-color:var(--color-theme);}
.theme-color .general-page .grid-view .generalbox-list .general-box .content-holder .action-btns span.noClick {color:var(--color-theme);}
.theme-color .sidemenu-holder .sidemenu .sidemenu-ul ul > li.active{border-left: 4px solid var(--color-theme);}
.theme-color .split-page .offer-ul .paginationjs .paginationjs-pages ul > li a,
.theme-color .general-page.generaldetails-page .page-details .trip-listing .trip-accordion h3 i,
.theme-color .messages-page .content-box .left-section .fsearch-form a.addnewchat{color:var(--color-theme);}
/* .theme-color .sendMessage > input[type="button"]{background: var(--color-theme) none repeat scroll 0 0;} */
.theme-color .header-section .header-themebar .mbl-innerhead{background:var(--color-theme);}
.theme-color .open-innerpage .innerpage-title,
.theme-color .hangoutbox-list .hangout-box .imgholder .overlay .event-span{background:var(--color-theme);}

.theme-color .sidemenu-ul ul > li.active a{color: var(--color-theme);}
.theme-color .transheader-wrapper .header-section.colored{background:var(--color-theme);}
.theme-color .float-chat .chat-button .icon-holder{background-image:url("../images/chat-icon-darkblue.png");}
.theme-color .mobile-whitebar{background:var(--color-theme);}
.theme-color .places-page .f-placebox .descholder .desc p span.more,
.theme-color .more-opt a.active .zmdi,
.theme-color .tabs .tab a,
.theme-color .places-page .places-banner .banner-section .tablist ul.tabs li a.active{color:var(--color-theme);}
.theme-color .note-tt .sliding-middle-out.underlined.tt-holder.focused textarea{border: 1px solid var(--color-theme);}
.theme-color .post-actions .pa-like.active .zmdi,
.theme-color .post-actions .pa-comment.active .zmdi,
.theme-color .post-actions .pa-share.active .zmdi{color:var(--color-theme);}
.theme-color .h-checkbox.colored [type="checkbox"]:not(:checked) + label::before, 
.theme-color .h-checkbox.colored [type="checkbox"]:checked + label::before{background: var(--color-theme);border: 1px solid var(--color-theme);}
.theme-color .h-checkbox.entertosend [type="checkbox"]:not(:checked) + label::before{border-right:2px solid var(--color-theme);border-bottom: 2px solid var(--color-theme);}
.theme-color .custom-wall-links ul.tabs li.tab a.active {background: #f3f3f3; color: var(--color-theme); border-color:var(--color-theme);}
.theme-color .custom-wall-links ul.tabs li.tab a:hover {background: #f3f3f3;}
.theme-color .switch label input[type="checkbox"]:checked + .lever{background-color:var(--color-theme); background: linear-gradient(#fff -300%, #3399cc 500%);}

.theme-color .switch label input[type="checkbox"]:checked + .lever::after{background-color:var(--color-theme);}
.theme-color .noUi-target.noUi-horizontal .noUi-tooltip{background-color:var(--color-theme);}
.theme-color .noUi-connect{background-color:var(--color-theme);}
.theme-color .noUi-horizontal .noUi-handle, .theme-color .noUi-vertical .noUi-handle{background-color:var(--color-theme);}
.theme-color [type="checkbox"]:checked + label::before{border-right: 2px solid var(--color-theme); border-bottom: 2px solid var(--color-theme);}
.theme-color .sidemenu-setting ul > li.active {border-color:var(--color-theme);}
.theme-color .sidemenu-setting ul > li.active a{color:var(--color-theme);}
.theme-color .picker__date-display,
.theme-color .picker__year-display{background-color:rgba(51,153,204,1);}
.theme-color .picker__nav--prev:hover, .theme-color .picker__nav--next:hove{background-color:rgba(51,153,204,0.3);}
.theme-color .picker__day.picker__day--today{color:#fff;}
.theme-color .picker__day--selected, .theme-color .picker__day--selected:hover, .theme-color .picker--focused .picker__day--selected{background-color:rgba(51,153,204,1); color:#fff;}
.theme-color .picker__close, .theme-color .picker__today {color:rgba(51,153,204,1);}
.theme-color button.picker__today:focus, .theme-color button.picker__clear:focus, .theme-color button.picker__close:focus{background:rgba(51,153,204,0.3);}
.theme-color .picker__nav--prev:hover, .theme-color .picker__nav--next:hover{background-color:rgba(51,153,204,0.3);}
.theme-color .clockpicker-canvas line{stroke:rgba(51,153,204,1)}
.theme-color .clockpicker-canvas-bearing {fill: rgba(51,153,204,1);}
.theme-color .clockpicker-canvas-bg {fill: rgba(51,153,204,1);}
.theme-color .clockpicker-tick.active, .clockpicker-tick:hover{background:rgba(51,153,204,0.3);}

.theme-color .datepicker-panel>ul[data-view="days"]>li.highlighted, .theme-color .datepicker-panel>ul[data-view="days"]>li:hover, .theme-color .datepicker-panel>ul[data-view="days"]>li.highlighted:hover, .theme-color .datepicker-panel>ul[data-view="days"]>li.highlighted::after, .theme-color .datepicker-panel>ul[data-view="days"]>li.picked{background-color: #fff;position: relative;z-index: 1;color:#444 !important;}
.theme-color .datepicker-panel>ul[data-view="days"]>li.highlighted::after, .theme-color .datepicker-panel>ul[data-view="days"]>li.picked::after{border: 2px solid var(--color-theme);border-radius: 50%;width: 35px;height: 35px;content: '';position: absolute;top: 5%;left:5%;z-index: -1;}
.theme-color .datepicker-panel>ul[data-view="days"]>li:hover{color: #fff !important;}
.theme-color .datepicker-panel>ul[data-view="days"]>li:hover::after{background-color: var(--color-theme);border-radius: 50%;width: 35px;height: 35px;content: '';position: absolute;top: 5%;left:5%;z-index: -1;}
.theme-color .datepicker-container .datepicker-panel>ul[data-view="days"]>li.picked{color: #fff !important;}
.theme-color .datepicker-container .datepicker-panel>ul[data-view="days"]>li.highlighted.picked{color: #444 !important;}
.theme-color .datepicker-container .datepicker-panel>ul[data-view="days"]>li.picked::after{background-color: var(--color-theme);}
.theme-color .datepicker-container .datepicker-panel>ul[data-view="days"]>li.highlighted.picked::after{background-color: #fff;}
.theme-color .datepicker-container .datepicker-panel>ul[data-view="days"]>li.highlighted.picked:hover, .theme-color .datepicker-container .datepicker-panel>ul[data-view="days"]>li.highlighted:hover{color: #fff !important;}
.theme-color .datepicker-container .datepicker-panel>ul[data-view="days"]>li.highlighted.picked:hover::after{background-color: var(--color-theme);}
.theme-color .datepicker-top-left, .datepicker-top-right{border-top-color:var(--color-theme);}

.theme-color input[type="text"]:focus:not(.browser-default):not([readonly]), 
.theme-color input[type="search"]:focus:not(.browser-default):not([readonly]),
.theme-color textarea.materialize-textarea:focus:not([readonly]){border-bottom: 1px solid var(--color-theme);-webkit-box-shadow: 0 1px 0 0 var(--color-theme);box-shadow: 0 1px 0 0 var(--color-theme);}
.theme-color .tagged_location::before,
.theme-color .back_arrow{color:var(--color-theme);}
.theme-color #compose_mapmodal .back_arrow{color:unset;}
.theme-color .inlinemapmodalbox .back_arrow{color:unset;}
.theme-color .paypal_btn{background-color:var(--color-theme);}
.theme-color .vertical-tabs.tabs-box.open-innerpage ul.tabs li.tab a.active {background: #f3f3f3; color: var(--color-theme); border-color: var(--color-theme);}
.theme-color .vertical-tabs.tabs-box.open-innerpage ul.tabs li.tab a:hover {background: #f3f3f3;}

/* START Loader Area */
/* loader ref loading.io */
@keyframes lds-rolling {0% {-webkit-transform: translate(-50%, -50%) rotate(0deg); transform: translate(-50%, -50%) rotate(0deg); } 100% {-webkit-transform: translate(-50%, -50%) rotate(360deg); transform: translate(-50%, -50%) rotate(360deg); } }
@-webkit-keyframes lds-rolling {0% {-webkit-transform: translate(-50%, -50%) rotate(0deg); transform: translate(-50%, -50%) rotate(0deg); } 100% {-webkit-transform: translate(-50%, -50%) rotate(360deg); transform: translate(-50%, -50%) rotate(360deg); } }
.lds-rolling {position: relative; width:100%; height:100%; }

.lds-rolling div {-webkit-animation: lds-rolling 1s linear infinite; animation: lds-rolling 1s linear infinite; top: 50px; left: 50px; }
.lds-rolling div:after {-webkit-transform: rotate(90deg); transform: rotate(90deg); }
.lds-rolling100 div,
.lds-rolling100 div:after {position: absolute; width: 100px; height: 100px; border: 5px solid var(--color-theme); border-top-color: transparent; border-radius: 50%; }
.lds-rolling100 {width: 100px !important; height: 100px !important; -webkit-transform: translate(-31px, -31px) scale(0.45) translate(45px, 45px); transform: translate(-30px, -30px) scale(0.45) translate(110px, 100px); }


.lds-rollingpostloader div,
.lds-rollingpostloader div:after {position: absolute; width: 75px; height: 75px; border: 5px solid var(--color-theme); border-top-color: transparent; border-radius: 50%; }
.lds-rollingpostloader{transform: translate(0px, -20px) scale(0.45) translate(-100px, -16px);}
.lds-rollingpostloader{position: unset; width: unset; height: unset;}

.lds-rollingpostloader1 div,
.lds-rollingpostloader1 div:after {position: absolute; width: 75px; height: 75px; border: 5px solid var(--color-theme); border-top-color: transparent; border-radius: 50%; }
.lds-rollingpostloader1{transform: translate(0px, 2px) scale(0.45) translate(-40px, -16px);}
.lds-rollingpostloader1{position: unset; width: unset; height: unset;}

.recentpage-box .userlink span.info{color: var(--color-theme);}

#Complete_loged .lds-rolling100 {transform: translate(-50px, -30px) scale(0.45) translate(113px, 100px); }
/* END Loader Area */

/* START added code from another files for theme color purpouse */
.theme-color .mbl-menu .selection{background:var(--color-theme);}
.theme-color .tripstop .title .bm-col,
.theme-color .booking_btn_dropdown li span,
.theme-color .compose_newreview_popup .rating-stars i.active,
.theme-color .userwall .connections-content .more-span a.more_btn,
.theme-color .active_post_btn,
.theme-color .connections-content .more-span a.more_btn{color:var(--color-theme);}
.theme-color .mobile_back,
.theme-color .admanager-detail .mobile-visible,
.theme-color .places-content .hangoutbox-list .hangout-box .descholder .event-span,
.theme-color .menutransheader-wrapper.page-scrolled .header-section,
.theme-color .connections-grid.freq .connect-box .btns-holder a,
.theme-color .profile-progress .progress-span,
.theme-color .shared-category .post-img-holder .post-img.one-img .pimg-holder{background:var(--color-theme);}
.theme-color .modal.giftslider-popup .edit-emosticker .gift_send a {color: var(--color-theme) !important;}
.theme-color .vertical-tabs .tabs-detail .tab-pane .sliding-middle-out.underlined.tt-holder.focused textarea{border:1px solid var(--color-theme);}
.theme-color .sharebtn, .savebtn,
.theme-color .custom-file .title
.theme-color .rating-stars.non-editable > i.active,
.theme-color .localguide-post .content-holder p.dpara i,
.theme-color .post-actions .pa-comment::before,
.theme-color .post-actions .pa-comment:focus,
.theme-color .post-actions .pa-like::before,
.theme-color .post-actions .pa-like:focus span,
.theme-color .post-actions a:hover .icon_box {color: var(--color-theme);}
.theme-color .settings-icon [type="checkbox"]:checked + label:before {border-right: 2px solid var(--color-theme); border-bottom: 2px solid var(--color-theme);}
.theme-color .share_btn,
.theme-color .share_btn:hover,
.theme-color .cancel,
.theme-color .map_icon i,
.theme-color .compose_save_btn {color: var(--color-theme);}
.theme-color .post_cancel_btn:hover {cursor: pointer; color: var(--color-theme);}
.theme-color .selected_loc, .edit_selected_loc, .share_selected_loc,
.theme-color .tagged_location,
.theme-color .tagged_person_name, .tagged_person_number {color: var(--color-theme);}
.theme-color .user_checkbox [type="checkbox"]:checked + label:before {border-right: 2px solid var(--color-theme); border-bottom: 2px solid var(--color-theme);}
.theme-color .create_btn:hover {color: var(--color-theme);}
.theme-color .switch label input[type=checkbox]:checked + .lever:after {background-color: var(--color-theme);}
.theme-color .attachment_add_btn, .attachment_add_btn:focus, .attachment_add_btn:hover {background: var(--color-theme);}
.theme-color .gift_send a,
.theme-color .gift_send a:focus,
.theme-color .gift_send a:hover,
.theme-color .to_gift,
.theme-color .usergift_content .middle-indicator-text,
.theme-color .arrow_back_icon i,
.theme-color .add_to_group_done {color: var(--color-theme);}
.theme-color .addgroup_user_checkbox [type="checkbox"]:checked + label:before {border-right: 2px solid var(--color-theme); border-bottom: 2px solid var(--color-theme);}
.theme-color .remove_added_person {background-color: var(--color-theme);}
.theme-color [type="checkbox"].filled-in:checked + label:after {border: 2px solid var(--color-theme); background-color: var(--color-theme);}
.theme-color input[type=search]:not(.browser-default):focus:not([readonly]) {border-bottom: 1px solid var(--color-theme); -webkit-box-shadow: 0 1px 0 0 var(--color-theme); box-shadow: 0 1px 0 0 var(--color-theme);}
.theme-color .bottom_creategroup_btn,
.theme-color .bottom_creategroup_btn:hover, .bottom_creategroup_btn:focus,
.theme-color .bottom_newgroup_btn,
.theme-color .bottom_newgroup_btn:hover, .bottom_newgroup_btn:focus {background: var(--color-theme);}
.theme-color .contact_info_ul li a:hover,
.theme-color .close_selected_messages_box:hover i,
.theme-color .selected_msg_functions a:hover i,
.theme-color .request_approve:hover {color: var(--color-theme);}
.theme-color .main_modal.small-height .cus-redio  [type="checkbox"]:checked + label::before{border-right: 2px solid var(--color-theme);	border-bottom: 2px solid var(--color-theme);}
.theme-color .subsetting-area .settings-ul .btn-holder .btn-theme,
.theme-color .edit_newreview_new .rating-stars i.active,
.theme-color .add_btn_dropdown li span,
.theme-color .view-morec:hover i,
.theme-color .view-morec:hover {color: var(--color-theme);}

/* subcss-essentials.css */
.theme-color input[type=text]:not(.browser-default):focus:not([readonly]) {border-bottom: 1px solid var(--color-theme); -webkit-box-shadow: 0 1px 0 0 #fff; box-shadow: 0 1px 0 0 #fff;}
.theme-color input[type=text]:not(.browser-default):focus:not([readonly]) + label {color: var(--color-theme);}
.theme-color .homebox input[type=text]:not(.browser-default):focus:not([readonly]), .theme-color .homebox input[type=password]:not(.browser-default):focus:not([readonly]) {border-bottom: 2px solid var(--color-theme); -webkit-box-shadow: 0 1px 0 0 #fff; box-shadow: 0 1px 0 0 #fff;}

/* subcss-general.css */
.theme-color .pageloader .wrapper .load-bar-inner{background: var(--color-theme);}
.theme-color .not-result a {color: var(--color-theme);}
.theme-color .header_right_icon:hover i, .header_right_icon:focus i{color:var(--color-theme);}
.theme-color .dropdown-custom .dropdown-menu > li .post-licon-list > li:hover,
.theme-color .control--radio .control__indicator:after{background: var(--color-theme);}
.theme-color .sliding-middle-out.dateinput:after,
.theme-color .sliding-middle-out.timeinput:after,
.theme-color .sliding-middle-out.location:after,
.theme-color .sliding-middle-out.room:after,
.theme-color .sliding-middle-out.budgetinput:after{background: var(--color-theme) none repeat scroll 0 0;}

/* subcss-styles.css */
.theme-color .wall-header-stuff .sendMessage > input[type="button"]{color:var(--color-theme);}
.theme-color .messages-page .message-userlist > ul > li a .descholder .newmsg-count{background:var(--color-theme);}
.theme-color .businesspage .likes-content .like-state .state-arrow,
.theme-color .theme-color .advertmanager-page .box-container .top-box ul > li.done.active a,
.theme-color .advertmanager-page .preview-accordion h4 label{color:var(--color-theme);}
.theme-color .advertmanager-page .pos_rel .cam_icon i,
.theme-color .whoisaround-page .noUi-connect{background:var(--color-theme);}
.theme-color .whoisaround-page .noUi-target.noUi-horizontal .noUi-tooltip,
.theme-color .whoisaround-page .noUi-horizontal .noUi-handle, .whoisaround-page .noUi-vertical .noUi-handle{background-color: var(--color-theme);}
.theme-color .side-section .section-layer .iconlink.editlink i,
.theme-color .side-section .section-layer .trip-summery .triptitle .itemicon,
.theme-color .billinginfo-page .striped .bill-info-table .complet-bill{color: var(--color-theme);}
.theme-color .wallpage .destinations-content .tab-content.owner .edit-section .add-dest input[type='text']{border-bottom: 1px solid var(--color-theme);}
/* END added code from another files for theme color purpouse */

.theme-color a.btngen-center-align{color: var(--color-theme);}

/*start home page green color css*/
#login_modal .robot-chk.filled-in[type="checkbox"]:checked + label:after{background: var(--color-theme);}
.custom_login.login-popup .homebtn{background:var(--color-theme);}
.head-right .homebtn:hover, .head-right .homebtn:focus{background: var(--color-theme) !important;}

.home-section .btn-custom{font-family: 'Varela Round', sans-serif; border: none; font-size: inherit;color: #fff; background: var(--color-theme); cursor: pointer; padding: 0px 15px; display: inline-block; outline: none; font-size: 12px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-weight: bold; letter-spacing: 0.7px; box-shadow: 0 2px 10px rgba(0,0,0,.25); text-transform: uppercase;}
.homebtn:hover, .homebtn:focus{background:var(--color-theme) !important;} 
.home-page .meetpeople-section .meetpeople-area .meetpoeple-box .people a{color: var(--color-theme);}
.home-wrapper .home-menu li a:before {content: ""; position: absolute; width: 0px; height: 2px; bottom: -5px; left: 0%; margin: auto; background: var(--color-theme); transition: .25s linear; -moz-transition: .25s linear; -webkit-transition: .25s linear; -webkit-transition: .25s linear;}
.home-wrapper .home-menu li a:hover,.home-wrapper .home-menu li a:focus{color: var(--color-theme);}
.home-search label.active {color: var(--color-theme); font-size: 24px;}
.home-search input[type=text]:not(.browser-default):focus:not([readonly])+label{color: var(--color-theme);font-size: 24px;}
.home-search a i:hover,
.home-search a i:focus{color: var(--color-theme);font-size: 2.5rem;transition: all 0.5s ease;}

.meetpeople-area .main_title h2{background: var(--color-theme); padding: 30px 0; box-shadow: inset 0 0 0 1px #e0e5e9; border: 5px solid #fbfbfc;}

.nextholder .su-skipbtn:focus, .nextholder .homebtn:focus{background: var(--color-theme);}
.nextholder .su-skipbtn:hover,.nextholder .homebtn:hover 
.nextholder.login-popup .homebtn:hover{background:var(--color-theme);}

.people-travel{padding: 50px 0; background: var(--color-theme);}
.robot-chk.filled-in[type="checkbox"]:checked + label:after{background: var(--color-theme);}
.signup-part .profilebtn{background: var(--color-theme); border-radius: 45px; line-height: normal; color: #fff; padding:0px 20px 2px; margin-top: 38px; margin-bottom: 35px; font-size: 18px; line-height: 31px;}

.iwasinqatar-footer .footer-cols a{color: var(--color-theme);}
.tours-page .tours-section .tour-box .descholder .info i{color:var(--color-theme);display:inline-block;float:left;}

#login_modal.login-popup .homebtn, #login_modal.nextholder .su-nextbtn, #login_modal.nextholder .su-skipbtn, #login_modal.nextholder .homebtn{background:var(--color-theme) none repeat scroll 0 0;}
/*end home page green color css*/

.profile-settingblock2 .datepicker-container .datepicker-panel > ul > li[data-view="years current"],
.profile-settingblock2 .datepicker-container .datepicker-panel > ul > li[data-view="month current"],
.profile-settingblock2 .datepicker-container .datepicker-panel > ul > li[data-view="year current"]{color: var(--color-theme);}

.recentpage-box a.btn{border: 1px solid var(--color-theme);color: var(--color-theme) !important;}
.gallery-container .sub-photo-view .photo-tags ul.tag-list li a:hover{border: 1px solid var(--color-theme);color: var(--color-theme);border-color: var(--color-theme);}
.gallery-container .sub-photo-view .photo-tags ul.tag-list li a:hover{border: 1px solid var(--color-theme);color: var(--color-theme);border-color: var(--color-theme);}
.gallery-container .sub-photo-view .people-box .desc-holder .edit-icon:hover i, .gallery-container .sub-photo-view .people-box .desc-holder .edit-icon i, .gallery-container .sub-photo-view .photo-tagged span, .gallery-container .sub-photo-view .photo-tagged a{color: var(--color-theme);}

.social-section.profile-box .imagelabel .bg-top {background: var(--color-theme);}
.spinner-layer{border-color: var(--color-theme);}
.event-detail-modal.cust-pop.modal .check-image .image-select{border: 2px solid var(--color-theme);}
.home-page .home-section .socials-section .descholder{border-bottom: 4px solid var(--color-theme);}
.home-page .home-section .socials-section .icon-block i{color: var(--color-theme);}

span.theme-color{color: var(--color-theme); cursor: pointer;}
.not-messages .dropdown-custom .dropdown-menu li .not-result a, .menu-wrap .menu-sec .search-box .was-in-country a.dropdown-button i{color: var(--color-theme);}
.new-notification{background: var(--color-theme);}
.dine-local.tours-page .tours-section .tour-box .descholder .dine-rating, .places-page.photostream-page .places-column .content-box .cbox-title .custom-file .title, .event-detail-page .event-info-wrapper .reviews-section .collection .ratings, .event-icons span i, .save-wishlist i{color: var(--color-theme);}
.dine-local.tours-page .tours-section .tour-box .descholder .dine-rating .unfill, 
.places-page.photostream-page .places-column .content-box .cbox-title .custom-file .title .unfill, 
.event-detail-page .event-info-wrapper .reviews-section .collection .ratings .unfill, 
.event-icons span i, .save-wishlist i.unfill{color: #8f8e87;}
.userwall.messages-page .header-section{background: var(--color-theme);}
.lds-rolling-crntmsgpsndrp div, .lds-rolling-crntmsgpsndrp div:after{border: 1px solid var(--color-theme);}
.sticky-nav .top-nav .nav-links ul li.active{border-bottom: 2px solid var(--color-theme);}

@media screen and (max-width:992px){	
	.theme-color .messages-page .fake-title-area,
	.theme-color .billinginfo-page .fake-title-area{background:none;}		
	.theme-color .billinginfo-page .fake-title-area li a{opacity:1;color:var(--color-theme);}		
	.theme-color .messages-page .fake-title-area li a{color:var(--color-theme);}
}

@media screen and (min-width:800px) and (max-width:992px) {
	.theme-color .settings-content .vertical-tabs.tabs-box.open-innerpage ul.tabs li.tab a.active {background: none; color: unset; border-color: unset;}
	.theme-color .settings-content .vertical-tabs.tabs-box.open-innerpage ul.tabs li.tab a:hover {background: none;}
}
@media screen and (max-width:800px){
	.theme-color .pagetabs{background:var(--color-theme);}
	.person_search_slide_xs .custom_side_header{background-color: var(--color-theme);}
}
@media screen and (max-width:767px){
	.theme-color .mobile-header,
	.theme-color .wallpage .header-section .header-themebar.innerpage,	
	.theme-color .wallpage .main-content .messages-page .fake-title-area,
	.theme-color .messages-page .fake-title-area,	
	.theme-color .fake-header,
	.theme-color .pagetabs,
	.theme-color .trip-page .trip-mapview .tripmenu,
	.theme-color .billinginfo-page .fake-title-area{background:var(--color-theme);}		
	.theme-color .billinginfo-page .fake-title-area li a{color:rgba(255, 255, 255, 0.6);opacity:0.8;}			
	.theme-color .menutransheader-wrapper.page-scrolled .header-section{background: rgba(51, 153, 204, 0.8);}
	.theme-color .gen-pages .fake-title-area.divided-nav ul > li a.active, .theme-color .general-page.generaldetails-page.split-page .right-tabs.pagetabs .tabs .tab a.active, .theme-color .wallpage-content .fake-title-area.divided-nav .tabs a.active{border-bottom: 2px solid var(--color-theme);}
	.place-wrapper.transheadereffectall.JIS3829 .header-themebar{background: var(--color-theme);}

}
@media screen and (max-width:568px){
	.theme-color .person-list .person-box .imgholder .overlay .add-span .add-btn{color:var(--color-theme);}
	.theme-color .wallpage .header-section .header-nav{background-color:var(--color-theme);}
}
@media screen and (max-width:450px){
	.theme-color .places-page .person-box .imgholder .overlay .add-span .add-btn,	
	.theme-color .places-page .person-box .imgholder .overlay .add-span .add-btn:hover,	
	.theme-color .payment-popup .payment .vip-page .vip-package .month-save{color:#999;}
}
@media screen and (max-width:420px){
	.theme-color .person-list .wallpage .fixed-layout .main-content {border-top: 50px solid var(--color-theme);}
}

